@using Kendo.Mvc.UI

@{
	ViewData["Title"] = "Contractors";
	ViewData["SubTitle"] = "Summary";
}

@model ContractorsViewModel

<div class="d-flex flex-column flex-md-row justify-content-between align-items-center">
	<div class="d-flex flex-row align-items-center">
		<div class="me-3">View by</div>
		<button type="button" class="btn btn-sm btn-dark btn-filter rounded-pill me-2" data-search="">
			ALL
		</button>
		<button type="button" class="btn btn-sm btn-secondary btn-filter rounded-pill me-2" data-search="true">
			ACTIVE
		</button>
		<button type="button" class="btn btn-sm btn-secondary btn-filter rounded-pill me-2" data-search="false">
			INACTIVE
		</button>
	</div>
	<div>
		<a href="#dlgUser" class="btn btn-primary no-loading" data-bs-toggle="modal" data-bs-target="#dlgUser"><span class="px-2"><i class="fa-sharp fa-solid fa-plus me-2"></i> New contractor</span></a>
	</div>
</div>

<div class="mt-5">
	@(
		Html.Kendo().Grid<ContractorListViewModel>()
		.Name("grid")
		.ToolBar(tb => { tb.Search(); })
		.NoRecords(true)
		.Pageable()
		.Sortable()
		.Columns(c =>
		{
			c.Bound(p => p.Name).Width(250);
			c.Bound(p => p.Email);
			c.Bound(p => p.IsSecured).Encoded(false).HeaderHtmlAttributes(new { @class = "text-center" }).HtmlAttributes(new { @class = "text-center" }).Width(140);

			c.Bound(p => p.IsActive)
			.ClientTemplate(
				"# if (IsActive) { #" +
				"    <i class=\"fa-sharp fa-solid fa-circle-check fa-lg text-success\"></i>" +
				"# } else { #" +
				"    <i class=\"fa-sharp fa-solid fa-circle-check fa-lg text-warning\"></i>" +
				"# } #"
				)
				.HeaderHtmlAttributes(new { @class = "text-center" }).HtmlAttributes(new { @class = "text-center" }).Width(130);

			c.Bound(p => p.CreatedWhen).Format("{0:dd MMM, yyyy}").Width(150);
			c.Bound(p => p.ActionIcons).Sortable(false).Exportable(false).Encoded(false).HeaderHtmlAttributes(new { @class = "text-center" }).Width(100);
		})
		.DataSource(ds => ds
		.Custom()
		.Transport(t =>
		{
			t.Read(r => r.Url($"/{Model.CompanyId}/contractors/grid").Type(HttpVerbs.Get));
		})
		.Schema(s => s
		.Model(m =>
		{
			m.Id(i => i.Id);
		})
		)
		.PageSize(20)
		)
	)
	@Html.AntiForgeryToken()
</div>

<!--
<div class="d-flex flex-row mt-5 justify-content-start align-items-center">
	<div class="flex-grow-1">
		<table id="tbl" class="table table-striped display pt-5 mb-3">
			<thead>
				<tr>
					<th>NAME</th>
					<th>EMAIL</th>
					<th>LOCATION</th>
					<th data-class-name="text-center" style="width: 82px;">IS SECURED?</th>
					<th data-class-name="text-center" style="width: 73px;">IS ACTIVE?</th>
					<th style="width: 100px;">DATE CREATED</th>
					<th style="width: 100px;">DATE UPDATED</th>
					<th style="width: 78px;" data-orderable="false">&nbsp;</th>
				</tr>
			</thead>
		</table>
	</div>
</div>
-->

<div class="d-flex flex-row justify-content-center mt-3 notification">
	<div class="alert alert-dismissible fade" role="alert">
		<span class="alert-message"></span>
		<a href="#" class="no-loading text-dark" data-bs-dismiss="modal" aria-label="Close"><i class="fa-sharp fa-solid fa-xmark fa-xl"></i></a>
	</div>
</div>

<!-- Modal: New user -->
<div class="modal fade" id="dlgUser" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="dlgUserLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title" id="dlgUserLabel">New contractor</h1>
				<a href="#" class="no-loading text-dark" data-bs-dismiss="modal" aria-label="Close"><i class="fa-sharp fa-solid fa-xmark fa-xl"></i></a>
			</div>
			<div class="modal-body">
				<form id="frmUser" class="needs-validation" onsubmit="return formOnSubmit" novalidate>
					<div class="d-flex flex-row mb-2">
						<div class="form-group w-50 me-3">
							<label class="form-label" for="frm-firstName">First name</label>
							<input type="text" id="frm-firstName" class="form-control" required />
							<div class="invalid-feedback">Enter the first name</div>
						</div>
						<div class="form-group w-50 ms-3">
							<label class="form-label" for="frm-lastName">Last name</label>
							<input type="text" id="frm-lastName" class="form-control" required />
							<div class="invalid-feedback">Enter the last name</div>
						</div>
					</div>
					<div class="d-flex flex-row mb-2">
						<div class="form-group w-50 me-3">
							<label class="form-label" for="frm-email">Email</label>
							<input type="email" id="frm-email" class="form-control" required />
							<div class="invalid-feedback">Enter the email address</div>
						</div>
						<div class="form-group w-50 ms-3">
							<label class="form-label" for="frm-designation">Designation</label>
							<input type="text" id="frm-designation" class="form-control" />
						</div>
					</div>
					<div class="d-flex flex-row mb-2">
						<div class="form-group w-50 me-3">
							<label class="form-label" for="frm-role">User role</label>
							<select id="frm-roles" class="form-select" required>
								<option value="@Model.Role.Id" selected disabled>@Model.Role.Name</option>
							</select>
							<div class="invalid-feedback">Select the user role</div>
						</div>
						<div class="form-group w-50 ms-3">
							<label class="form-label" for="frm-email">Set password</label>
							<input type="password" id="frm-pwd" class="form-control" />
						</div>
					</div>
					<div class="d-flex flex-row mb-2">
						<div class="form-group w-50">
							<label class="form-label" for="frm-location">Locations</label>
							<div>
								@(Html.Kendo().DropDownTree()
									.Name("ddlLocations")
									.DataValueField("id")
									.DataTextField("name")
									.Placeholder("(select locations)")
									.Events(events => events.Change("onChangeSites"))
									.FillMode(FillMode.Outline)
									.Rounded(Rounded.Large)
									.CheckAll(false)
									.AutoClose(false)
									.Checkboxes(checkboxes => checkboxes
										.Name("checkedFiles")
										.CheckChildren(true)
									)
									.DataSource(ds => ds
										.Read(read => read
											.Url($"/{Model.CompanyId}/contractors/sites/hierarchical").Type(HttpVerbs.Get)
										)
									)
								)
							</div>
						</div>
					</div>
					<div class="form-group mb-3 d-flex flex-row align-items-center">
						<div class="form-check me-5">
							<input class="form-check-input" type="radio" id="frm-active" name="user-status" checked>
							<label class="form-check-label" for="frm-active">Active</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" id="frm-inactive" name="user-status">
							<label class="form-check-label" for="frm-inactive">Inactive</label>
						</div>
					</div>
					<input type="hidden" id="frm-mode" value="new" />
					<input type="hidden" id="frm-id" value="" />
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary btn-save"><span class="mx-3">Save changes</span></button>
			</div>
		</div>
	</div>
</div>


<!-- Modal: Delete confirmation -->
<div class="modal fade" id="dlgConfirm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="dlgConfirmLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title" id="dlgConfirmLabel">Confirm delete</h1>
				<a href="#" class="no-loading text-dark" data-bs-dismiss="modal" aria-label="Close"><i class="fa-sharp fa-solid fa-xmark fa-xl"></i></a>
			</div>
			<div class="modal-body">
				Are you sure you want to delete this contractor?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<button type="button" class="btn btn-danger btn-proceed" data-user-id="">Yes, proceed</button>
			</div>
		</div>
	</div>
</div>


<!-- Modal: Set user password -->
<div class="modal fade" id="dlgSetPwd" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="dlgSetPwdLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title" id="dlgSetPwdLabel">Set user password</h1>
				<a href="#" class="no-loading text-dark" data-bs-dismiss="modal" aria-label="Close"><i class="fa-sharp fa-solid fa-xmark fa-xl"></i></a>
			</div>
			<div class="modal-body">
				<form id="frmSetPwd" class="needs-validation" onsubmit="return formOnSubmit" novalidate>
					<div class="form-group mb-3">
						<label class="form-label" for="frm-set-pwd">Password</label>
						<input type="password" id="frm-set-pwd" class="form-control" required />
						<div class="invalid-feedback fb-password">
							Please enter your password
						</div>
					</div>
					<div class="form-group">
						<label class="form-label" for="frm-set-confirm-pwd">Confirm password</label>
						<input type="password" id="frm-set-confirm-pwd" class="form-control" required />
						<div class="invalid-feedback fb-confirm-password">
							Please confirm your password
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<button type="button" class="btn btn-danger btn-set-pwd" data-user-id="">Yes, proceed</button>
			</div>
		</div>
	</div>
</div>

@section CustomCss {
	<!-- DataTables -->
	<link rel="stylesheet" href="~/lib/DataTables/datatables.min.css" />
	<script src="~/lib/DataTables/datatables.min.js"></script>

	<link rel="stylesheet" href="/css/contractors.css" />
}

@section Scripts {
	<script>
		var grid = null;
		var selectedLocations = [];

		$(document).ready(() => {
			var currentFilter = null;
			var btnFilters = $('.btn-filter');

			currentFilter = btnFilters[0];

			grid = $("#grid").data("kendoGrid");

			grid.dataSource.transport.options.read.beforeSend = (req) => {
				req.setRequestHeader('RequestVerificationToken', $('input:hidden[name="__RequestVerificationToken"]').val());
			};

			$('.btn-filter').click((e) => {
				var btn = $(e.currentTarget);
				var search = $(e.currentTarget).data('search');

				var filter = { field: 'IsActive', operator: 'eq', value: search };

				if (btn[0] != currentFilter) {
					$(currentFilter).removeClass('btn-dark').addClass('btn-secondary');
					$(e.currentTarget).removeClass('btn-secondary').addClass('btn-dark');

					if (search == '') {
						grid.dataSource.filter(null);
					} else {
						grid.dataSource.filter(filter);
					}
				}

				currentFilter = btn[0];
			});


			$('.btn-save').click(() => {
				$('#frmUser').removeClass('needs-validation').addClass('was-validated');

				var mode = $('#frm-mode').val();
				var id = $('#frm-id').val();
				var firstName = $('#frm-firstName').val();
				var lastName = $('#frm-lastName').val();
				var email = $('#frm-email').val();
				var designation = $('#frm-designation').val();
				var isActive = $('#frm-active').prop('checked');;
				var pwd = $('#frm-pwd').val();
				var role = '@Model.Role.Id';

				var regex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[#$@@!%&*])[A-Za-z\d#$@@!%&*?]{12,20}$/g;
				var passwordOk = regex.test(pwd);

				if (pwd != '' && !passwordOk) {
					alert('Your password must contain:\n\n- min 1 uppercase\n- min 1 lowercase\n- min 1 special character\n- min 1 number\n- min 12 characters');
				} else {
					if (firstName != '' && lastName != '' && email != '') {
						/*
						var postData = {
							id: null,
							firstName,
							lastName,
							email,
							designation,
							password: pwd,
							isActive,
							role,
							locations: selectedLocations,
						};

						if (mode == 'edit') postData.id = id;*/

						var formData = new FormData();
						formData.append('Id', mode == 'edit' ? id : null);
						formData.append('FirstName', firstName);
						formData.append('LastName', lastName);
						formData.append('Email', email);
						formData.append('Designation', designation);
						formData.append('Password', pwd);
						formData.append('IsActive', isActive);
						formData.append('Role', role);
						formData.append('Locations', selectedLocations);

						$('.loading').show();

						/*
						var xhr = $.ajax({
							method: 'POST',
							url: '/@Model.CompanyId/users/' + mode,
							data: JSON.stringify(postData),
							contentType: 'application/json; charset=utf-8',
							dataType: 'json',
						});*/

						var xhr = $.ajax({
							method: 'POST',
							url: '/@Model.CompanyId/users/' + mode,
							data: formData,
							contentType: false,
							processData: false,
							cache: false,
							beforeSend: (xhr) => {
								xhr.setRequestHeader('RequestVerificationToken', $('input:hidden[name="__RequestVerificationToken"]').val());
							},
						});

						xhr.done((response, status) => {
							if (status == 'success') {
								if (response.data == 'OK') {
									grid.dataSource.read();
									$('#dlgUser').modal('hide');
								} else {
									alert('Unable to update user at the moment. Please try again later.');
								}
							} else {
								alert('Unable to update user at the moment. Please try again later.');
							}
						});

						xhr.fail(() => {
							alert('Unable to update user at the moment. Please try again later.');
						});

						xhr.always(() => {
							$('.loading').hide();
						});
					}
				}
			});


			$('.btn-proceed').click(() => {
				var userId = $('.btn-proceed').data('userId');

				$('.loading').show();

				var xhr = $.ajax({
					method: 'DELETE',
					url: '/@Model.CompanyId/users/' + userId,
				});

				xhr.done((response, status) => {
					if (status == 'success') {
						if (response.data == 'OK') {
							grid.dataSource.read();
						}
						$('#dlgConfirm').modal('hide');
					} else {

					}
				});

				xhr.fail(() => {
				});

				xhr.always(() => {
					$('.loading').hide();
				});

			});


			$('.btn-set-pwd').click(() => {
				var userId = $('#dlgSetPwd .btn-set-pwd').data('userId');

				$('#frmSetPwd').removeClass('needs-validation').addClass('was-validated');

				var pwd = $('#frm-set-pwd').val();
				var confirmPwd = $('#frm-set-confirm-pwd').val();

				var regex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[#$@@!%&*])[A-Za-z\d#$@@!%&*?]{12,20}$/g;
				var passwordOk = regex.test(confirmPwd);

				if (!passwordOk) {
					alert('Your password must contain:\n\n- min 1 uppercase\n- min 1 lowercase\n- min 1 special character\n- min 1 number\n- min 12 characters');
				} else {
					var postData = {
						password: confirmPwd
					};

					if (confirmPwd != '' && pwd != '' && confirmPwd == pwd) {
						$('.loading').show();

						var xhr = $.ajax({
							method: 'POST',
							url: '/@Model.CompanyId/users/' + userId + '/setpassword',
							data: JSON.stringify(postData),
							contentType: 'application/json; charset=utf-8',
							dataType: 'json',
						});

						xhr.done((response) => {
							if (response.data == 'OK') {
								grid.dataSource.read();
								$('#dlgSetPwd').modal('hide');
							} else {
								alert('Unable to set user\'s password. Please try again.');
							}
						});

						xhr.fail((response) => {
							alert('Unable to set user\'s password. Please try again.');
						});

						xhr.always(() => {
							$('.loading').hide();
						});

					} else {
						if (confirmPwd != pwd) {
							$('#frm-set-confirm-pwd').addClass('is-invalid');
							$('.fb-confirm-password').html('Confirm password is not the same');
						}
					}
				}
			});


			$('.frm-locations .dropdown-menu .dropdown-item').click((elem) => {
				var allLocations = $('.frm-locations .dropdown-menu .dropdown-item');
				var locationId = $(elem.currentTarget).data('locationId');
				var totalLocations = allLocations.length - 1;

				if (locationId != '') {
					var n = selectedLocations.findIndex(x => x == locationId);
					var checkbox = $(elem.currentTarget).find('.fa-sharp');

					if (n == -1) {
						selectedLocations.push(locationId);
						checkbox.removeClass('fa-square').removeClass('fa-regular').addClass('fa-square-check').addClass('fa-solid');
					} else {
						selectedLocations.splice(n, 1);
						checkbox.removeClass('fa-square-check').removeClass('fa-solid').addClass('fa-square').addClass('fa-regular');
					}

				} else {
					var isAllChecked = $(elem.currentTarget).find('.fa-sharp').hasClass('fa-solid');

					if (selectedLocations.length > 0) {
						selectedLocations = [];
					}

					allLocations.map((i, e) => {
						var elem = $(e);
						var checkbox = $(e).find('.fa-sharp');

						if (!isAllChecked) {
							checkbox.removeClass('fa-square').removeClass('fa-regular').addClass('fa-square-check').addClass('fa-solid');

							if (elem.data('locationId') != '') {
								selectedLocations.push(elem.data('locationId'));
							}
						} else {
							checkbox.removeClass('fa-square-check').removeClass('fa-solid').addClass('fa-square').addClass('fa-regular');
						}
					});
				}

				if (selectedLocations.length < 1) {
					$('#btn-locations').html('(select location)');
				} else {
					if (selectedLocations.length == totalLocations) {
						$('#btn-locations').html('All selected');
					} else {
						$('#btn-locations').html('(' + selectedLocations.length + ') selected');
					}
				}

			});


			/**
			 * MODAL: dlgUser
			 */
			$('#dlgUser').on('show.bs.modal', () => {
				var mode = $('#frm-mode').val();
				var userId = $('#frm-id').val();

				if (mode == 'edit') {
					$('.loading').show();

					var xhr = $.ajax({
						method: 'GET',
						url: '/@Model.CompanyId/users/' + userId + '/info'
					});

					xhr.done((response, status) => {
						if (status == 'success' && response.user != null) {
							var user = response.user;

							if (user.isSecured) {
								$('#frm-pwd').prop('disabled', 'disabled').addClass('disabled');
							}

							$('#frm-firstName').val(user.firstName);
							$('#frm-lastName').val(user.lastName);
							$('#frm-email').val(user.email);

							if (user.isActive) {
								$('#frm-active').prop('checked', true);
							} else {
								$('#frm-inactive').prop('checked', true);
							}

							if (user.roles.length > 0) {
								$('#frm-roles').val(user.roles[0].roleId);
							}

							var selectedSites = [];

							for (var n = 0; n < user.sites.length; n++) {
								selectedSites.push(user.sites[n].id.toLowerCase());
							}

							var dropDownTree = $('#ddlLocations').data('kendoDropDownTree');

							dropDownTree.dataSource.filter({});
							dropDownTree.value(selectedSites);
						}
					});

					xhr.fail(() => {
					});

					xhr.always(() => {
						$('.loading').hide();
					});
				}
			});


			$('#dlgUser').on('hidden.bs.modal', () => {
				$('#frm-firstName').val(null);
				$('#frm-lastName').val(null);
				$('#frm-email').val(null);
				$('#frm-designation').val(null);
				$('#frm-pwd').val(null);
				$('#frm-pwd').prop('disabled', null).removeClass('disabled');
				$('#frm-active').prop('checked', true);
				$('#frmUser').removeClass('was-validated').addClass('needs-validation');
				$('#frm-mode').val('new');
				$('#frm-id').val(null);
				$('#dlgUserLabel').html('New contractor');

				selectedLocations = [];

				var elems = $('.frm-locations .dropdown-menu .dropdown-item');

				elems.map((i, e) => {
					var checkbox = $(e).find('.fa-sharp');
					checkbox.removeClass('fa-square-check').removeClass('fa-solid').addClass('fa-square').addClass('fa-regular');
				});

				$('#btn-locations').html('(select location)');

				$('#ddlLocations').data('kendoDropDownTree').value({});
			});


			/**
			 * MODAL: dlgSetPwd
			 */
			$('#dlgSetPwd').on('show.bs.modal', () => {
			});


			$('#dlgSetPwd').on('hidden.bs.modal', () => {
				$('#frmSetPwd').removeClass('was-validated').addClass('needs-validation');
				$('#frm-set-confirm-pwd').removeClass('is-invalid');
				$('.fb-confirm-password').html('Please confirm your password');

				$('#frm-set-pwd').val(null);
				$('#frm-set-confirm-pwd').val(null);
			});


			/**
			 * MODAL: dlgConfirm
			 */
			$('#dlgConfirm').on('show.bs.modal', () => {
			});


			$('#dlgConfirm').on('hidden.bs.modal', () => {
				$('#dlgConfirm .btn-proceed').data('userId', '');
			});

		});


		const editUser = (id) => {
			$('#frm-mode').val('edit');
			$('#frm-id').val(id);
			$('#dlgUserLabel').html('Edit contractor');
			$('#dlgUser').modal('show');
		};


		const deleteUser = (id) => {
			$('#dlgConfirm .btn-proceed').data('userId', id);
			$('#dlgConfirm').modal('show');
		};


		const setPassword = (obj) => {
			var elem = $(obj);
			var userId = elem.data('userId');

			$('#dlgUserLabel').html('Edit contractor');
			$('#dlgSetPwd').modal('show');
			$('#dlgSetPwd .btn-set-pwd').data('userId', userId);
		};


		const formOnSubmit = () => {
			return false;
		};


		const onChangeSites = () => {
			var checkedNodes = [];
			var dropDownTree = $('#ddlLocations').data('kendoDropDownTree');

			checkedNodeIds(dropDownTree.dataSource.view(), checkedNodes);
			selectedLocations = checkedNodes;
		};


		const checkedNodeIds = (nodes, checkedNodes) => {
			for (var i = 0; i < nodes.length; i++) {
				if (nodes[i].checked) {
					checkedNodes.push(nodes[i].id);
				}

				if (nodes[i].hasChildren) {
					checkedNodeIds(nodes[i].children.view(), checkedNodes);
				}
			}
		};

	</script>
}