@using Kendo.Mvc.UI;

@{
	ViewData["Title"] = "Settings / Users";
	ViewData["SubTitle"] = "Edit user";
}

@model ManageUserMainViewModel

<div class="row g-3">
	<div class="d-flex flex-column col-12 col-lg-6">
		<form method="post">
			@Html.AntiForgeryToken()
			<div class="card shadow-sm">
				<div class="card-header">
					<h4 class="fw-bold mb-0 text-uppercase">General Info</h4>
				</div>
				<div class="card-body">
					<div class="row g-3 mb-3">
						<div class="col-6">
							<label class="form-label small fw-semibold">First Name <span class="text-danger">*</span></label>
							<input asp-for="UserInfoForm.FirstName" class="form-control" placeholder="John"/>
							<span asp-validation-for="UserInfoForm.FirstName" class="text-danger small"></span>
						</div>
						<div class="col-6">
							<label class="form-label small fw-semibold">Last Name <span class="text-danger">*</span></label>
							<input asp-for="UserInfoForm.LastName" class="form-control" placeholder="Doe"/>
							<span asp-validation-for="UserInfoForm.LastName" class="text-danger small"></span>
						</div>
					</div>
					<div class="row g-3 mb-3">
						<div class="col">
							<label class="form-label small fw-semibold">Email <span class="text-danger">*</span></label>
							<input readonly asp-for="UserInfoForm.Email" class="form-control" placeholder="i.e. john.doe@email.com"/>
							<span asp-validation-for="UserInfoForm.Email" class="text-danger small"></span>
						</div>
					</div>
					<div class="row g-3 mb-3">
						<div class="col-6">
							<label class="form-label small fw-semibold">Designation</label>
							<input asp-for="UserInfoForm.Designation" class="form-control" />
							<span asp-validation-for="UserInfoForm.Designation" class="text-danger small"></span>
						</div>
						<div class="col-6">
							<label class="form-label">User role <span class="text-danger">*</span></label>
							@if (Model.UserInfoForm!.OriginFromContractors)
							{
								<select id="ddlRoles" disabled class="form-select" asp-items="@(new SelectList(Model.UserInfoForm?.Roles, "Id", "Name"))">
									<option value="">(select a role)</option>
								</select>
							}
							else
							{
								<select asp-for="UserInfoForm.UserRole" class="form-select" asp-items="@(new SelectList(Model.UserInfoForm?.Roles, "Id", "Name"))">
									<option value="">(select a role)</option>
								</select>
								<span asp-validation-for="UserInfoForm.UserRole" class="text-danger small"></span>
							}
						</div>
					</div>
					<div class="row g-3 mb-3">
						<div class="col">
							<label class="form-label">Locations</label>
							@(Html
								.Kendo()
									.DropDownTree()
										.Name("ddlLocations")
										.DataValueField("id")
										.DataTextField("name")
										.Placeholder("(select locations)")
										.Events(events => events.Change("onChangeSites"))
										.FillMode(FillMode.Outline)
										.Rounded(Rounded.Large)
										.CheckAll(false)
										.AutoClose(false)
										.Checkboxes(checkboxes => checkboxes
											.Name("checkedFiles")
											.CheckChildren(true)
										)
										.DataSource(ds => ds
											.Read(read => read
												.Url($"/api/data/{Model.UserInfoForm?.CompanyID}/sites/hierarchical").Type(HttpVerbs.Get)
											)
										)
								)
						</div>
					</div>
					<div class="row g-3 mb-3">
						<div class="col">
							<input asp-for="UserInfoForm.IsActive" class="form-check-input" type="checkbox"/>
							<label class="form-check-label" for="IsActive">Is Active?</label>
						</div>
					</div>
				</div>
				<div class="card-footer text-body-secondary d-flex justify-content-end">
					<button type="submit" class="btn btn-sm btn-primary"><span class="mx-3">Save Changes</span></button>
				</div>
			</div>
			<input id="hidLocations" type="hidden" asp-for="UserInfoForm.Locations" />
			<input id="hidOriginFromContractors" type="hidden" asp-for="UserInfoForm.OriginFromContractors" />
			@if (Model.UserInfoForm!.OriginFromContractors)
			{
				<input type="hidden" asp-for="UserInfoForm.UserRole" />
			}
		</form>
	</div>

	<div class="d-flex flex-column col-12 col-lg-6">
		<form method="post" action="/@Model.UserInfoForm?.CompanyID/password/@Model.UserInfoForm?.Id">
			<div class="card shadow-sm">
				<div class="card-header">
					<h4 class="mb-0 fw-bold text-uppercase">Set Password</h4>
				</div>
				<div class="card-body">
					<div class="row g-3 mb-3">
						<div class="col">
							<label class="form-label small fw-semibold">New password <span class="text-danger">*</span></label>
							<input type="password" asp-for="UserPasswordForm.NewPassword" class="form-control"/>
							<span asp-validation-for="UserPasswordForm.NewPassword" class="text-danger small"></span>
						</div>
					</div>
					<div class="row g-3">
						<div class="col">
							<label class="form-label small fw-semibold">Confirm password <span class="text-danger">*</span></label>
							<input type="password" asp-for="UserPasswordForm.ConfirmPassword" class="form-control"/>
							<span asp-validation-for="UserPasswordForm.ConfirmPassword" class="text-danger small"></span>
						</div>
					</div>
				</div>
					<div class="card-footer text-body-secondary d-flex justify-content-end">
						<button type="submit" class="btn btn-sm btn-primary"><span class="mx-3">Save Password</span></button>
					</div>
			</div>
			<input type="hidden" asp-for="UserPasswordForm.IsContractors" />
		</form>
	</div>
</div>

<div>
	<a href="/@Model.UserInfoForm?.CompanyID/@((Model.UserInfoForm!.OriginFromContractors) ? "contractors" : "users")" role="button" class="btn btn-sm btn-outline-secondary">
		<span class="mx-3"><i class="fa-solid fa-arrow-left me-3"></i> Cancel</span>
	</a>
</div>

@section CustomCss {
	<link rel="stylesheet" href="~/css/users.css" />
}

@section Scripts {
	<!-- Includes jQuery validation for instant client-side checks without reloading -->
	<partial name="_ValidationScriptsPartial" />

	<script>
		var selectedLocations = @Html.Raw(Model.UserInfoForm?.Locations);
		var isContractor = @Model.UserInfoForm!.OriginFromContractors.ToString().ToLower();

		$(document).ready(() => {
			var dropDownTree = $('#ddlLocations').data('kendoDropDownTree');

			dropDownTree.dataSource.filter({});
			dropDownTree.value(selectedLocations);

			if (isContractor) {
				const selectElement = document.getElementById('ddlRoles');
				const textToFind = 'Permit Holder / Contractor';

				for (let i = 0; i < selectElement.options.length; i++) {
					if (selectElement.options[i].text === textToFind) {
						selectElement.selectedIndex = i; // Selects the item by its index
						break;
					}
				}
			}
		});

		const onChangeSites = () => {
			var checkedNodes = [];
			var dropDownTree = $('#ddlLocations').data('kendoDropDownTree');

			checkedNodeIds(dropDownTree.dataSource.view(), checkedNodes);
			$('#hidLocations').val(JSON.stringify(checkedNodes));
		};

		const checkedNodeIds = (nodes, checkedNodes) => {
			for (var i = 0; i < nodes.length; i++) {
				if (nodes[i].checked) {
					checkedNodes.push(nodes[i].id);
				}

				if (nodes[i].hasChildren) {
					checkedNodeIds(nodes[i].children.view(), checkedNodes);
				}
			}
		};
	</script>
}