@using Microsoft.AspNetCore.Identity
@using PermitPro.Core.Data

@inject SignInManager<UserInfo> _signInManager
@inject UserManager<UserInfo> _userManager
@inject ApplicationDbContext _dbContext
@inject ISystemConfigurationService _systemConfigurationService

@{
	var currentRoute = ViewContext.RouteData.Values["controller"] as string;
	var companyId = ViewContext.RouteData.Values["company"] as string;
	var currentUser = await _userManager.GetUserAsync(User);

	var navDashboard = currentRoute?.ToLower() == "dashboard" ? "active" : "";
	var navSitemap = currentRoute?.ToLower() == "sitemap" ? "active" : "";
	var navPermits = currentRoute?.ToLower() == "permits" ? "active" : "";
	var navContractors = currentRoute?.ToLower() == "contractors" ? "active" : "";
	var navReports = currentRoute?.ToLower() == "reports" ? "active" : "";
	var navUsers = currentRoute?.ToLower() == "users" ? "active" : "";
	var navSites = currentRoute?.ToLower() == "sites" ? "active" : "";
	var navWorkflow = currentRoute?.ToLower() == "workflow" ? "active" : "";
	var navNotifications = currentRoute?.ToLower() == "notifications" ? "active" : "";
	var navSettings = currentRoute?.ToLower() == "settings" ? "active" : "";
	var navGeneral = currentRoute?.ToLower() == "dashboard" ? "active" : "";
	var navRecycleBin = currentRoute?.ToLower() == "recyclebin" ? " active" : "";

	if (companyId == Guid.Empty.ToString())
	{
		var company = _dbContext.Companies.FirstOrDefault(x => x.IsActive == true);
		companyId = company?.Id.ToString();
	}

	if (currentRoute?.ToLower() == "sites" || currentRoute?.ToLower() == "users" || currentRoute?.ToLower() == "workflow")
	{
		navSettings = "active-light";
	}


	var isSuperUser = User.IsInRole("Super User");
	var isPortalAdmin = User.IsInRole("Portal Admin");
}

<ul class="navbar-nav mb-4">
	<li class="nav-item">
		<a href="/@companyId/dashboard" class="nav-link @navDashboard" href="#">
			<i class="fa-regular fa-chart-line fa-fw me-3"></i> Dashboard
		</a>
	</li>
	<li class="nav-item">
		<a href="/@companyId/permits" class="nav-link @navPermits">
			<i class="fa-sharp fa-regular fa-address-card fa-fw me-3"></i> Permits
		</a>
	</li>
	@if (User.IsInRole("Portal Admin") || User.IsInRole("Super User") || User.IsInRole("Contractor"))
	{
		<li class="nav-item">
			<a href="/@companyId/contractors" class="nav-link @navContractors">
				<i class="fa-regular fa-user-helmet-safety fa-fw me-3"></i> Contractors
			</a>
		</li>
	}
	<li class="nav-item">
		<a href="/@companyId/reports" class="nav-link @navReports">
			<i class="fa-sharp fa-regular fa-file-invoice fa-fw me-3"></i> Reports
		</a>
	</li>
	<li class="nav-item">
		<a href="/@companyId/notifications" class="nav-link @navNotifications">
			<i class="fa-sharp fa-solid fa-envelope-open-text fa-fw me-3"></i> Notifications
		</a>
	</li>
</ul>

@if (User.IsInRole("Portal Admin") || User.IsInRole("Super User"))
{
	<h5 class="sidebar-heading text-uppercase text-white" style="opacity: 0.3;">Settings</h5>
	<ul class="navbar-nav mt-2">
		<li class="nav-item">
			<a href="/@companyId/sites" class="nav-link @navSites">
				<i class="fa-sharp fa-regular fa-map-location-dot fa-fw me-3"></i> Locations
			</a>
		</li>
		<li class="nav-item">
			<a href="/@companyId/users" class="nav-link @navUsers">
				<i class="fa-solid fa-user-gear fa-fw me-3"></i> Users
			</a>
		</li>
		<li class="nav-item">
			<a href="/@companyId/workflow" class="nav-link @navWorkflow">
				<i class="fa-regular fa-people-carry-box fa-fw me-3"></i> Workflows
			</a>
		</li>
		<li class="nav-item mt-4">
			<a href="/@companyId/recyclebin" class="nav-link @navRecycleBin">
				<i class="fa-solid fa-trash-can-arrow-up fa-fw me-3"></i> Recycle Bin
			</a>
		</li>
	</ul>
}
