@using Kendo.Mvc.UI

@model EditPermitViewModel

<h2 class="accordion-header">
	<button class="accordion-button fw-semibold text-uppercase" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
		General Information
	</button>
</h2>
<div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionPermit">
	<div class="accordion-body" style="position: relative;">
		@if (Model.PermitStatus != PermitPro.Core.Enums.PermitStatusEnum.Draft)
		{
			<div class="edit-disable"></div>
		}
		<div class="form-group mb-3">
			<label class="form-label">Location</label>
			@(Html.Kendo().DropDownTree()
				.Name("ddtLocation")
				.DataValueField("id")
				.DataTextField("name")
				.Placeholder("(select location)")
				.Events(events => events
					.Change("onChangeSites")
				)
				.FillMode(FillMode.Outline)
				.Rounded(Rounded.Large)
				.CheckAll(false)
				.AutoClose(true)
				.DataSource(ds => ds
					.Read(read => read
						.Url($"/api/data/{Model.CompanyId}/sites/hierarchical").Type(HttpVerbs.Get)
					)
					.Events(ev => ev.RequestEnd("dsOnRequestEnd"))
				)
			)
		</div>
		<div class="mb-3">
			<label class="form-label">Description of work</label>
			@(Html.Kendo().TextArea()
				.Name("tbPermitDesc")
				.Rounded(Rounded.Large)
				.FillMode(FillMode.Outline)
				.Rows(2))
		</div>
		<div class="d-flex flex-md-row flex-column mb-3 w-100">
			<div class="flex-grow-1 me-md-3">
				<label class="form-label">Start date/time</label>
				@(Html.Kendo()
					.DatePicker()
					.Name("startDateTime")
					.Format("{0:dd/MM/yyyy}")
					.Size(ComponentSize.Medium)
					.Rounded(Rounded.Large)
					.FillMode(FillMode.Outline)
					.AdaptiveMode(AdaptiveMode.Auto)
					.ComponentType("modern")
					.Events(e => e.Change("onStartDateChange"))
					.Culture("ms-MY")
					.DateInput())
			</div>
			<div class="flex-grow-1 ms-md-3 mt-3 mt-md-0">
				<label class="form-label">End date/time</label>
				@(Html.Kendo()
					.DatePicker()
					.Name("endDateTime")
					.Format("{0:dd/MM/yyyy}")
					.Size(ComponentSize.Medium)
					.Rounded(Rounded.Medium)
					.FillMode(FillMode.Outline)
					.AdaptiveMode(AdaptiveMode.Auto)
					.ComponentType("modern")
					.Culture("ms-MY")
					.DateInput())
			</div>
		</div>
		<hr />
		<div class="mb-4">
			<div class="mb-3">Associated certificate</div>
			<div class="d-flex flex-md-row flex-column justify-content-evenly">
				<div class="w-33">
					<div>
						@(Html.Kendo().CheckBox()
							.Name("chkCertHotWork")
							.Size(ComponentSize.Large)
							.Rounded(BasicRounded.Medium)
							.HtmlAttributes(new { @class = "certificates", @data_certname = "hotwork|A|HOT WORK" })
							.Events(events => events.Change("onChangeCertificate"))
							.Label("  Hot Work"))
					</div>
					<div>
						@(Html.Kendo().CheckBox()
							.Name("chkCertConfinedSpace")
							.Size(ComponentSize.Large)
							.Rounded(BasicRounded.Medium)
							.HtmlAttributes(new { @class = "certificates", @data_certname = "confinedspace|B|CONFINED SPACE" })
							.Events(events => events.Change("onChangeCertificate"))
							.Label("  Confined Space"))
					</div>
					<div>
						@(Html.Kendo().CheckBox()
							.Name("chkCertRadiation")
							.Size(ComponentSize.Large)
							.Rounded(BasicRounded.Medium)
							.HtmlAttributes(new { @class = "certificates", @data_certname = "radiation|C|RADIATION" })
							.Events(events => events.Change("onChangeCertificate"))
							.Label("  Radiation"))
					</div>
				</div>
				<div class="w-33">
					<div>
						@(Html.Kendo().CheckBox()
							.Name("chkCertExcavation")
							.Size(ComponentSize.Large)
							.Rounded(BasicRounded.Medium)
							.HtmlAttributes(new { @class = "certificates", @data_certname = "excavation|D|EXCAVATION" })
							.Events(events => events.Change("onChangeCertificate"))
							.Label("  Excavation"))
					</div>
					<div>
						@(Html.Kendo().CheckBox()
							.Name("chkCertIsolation")
							.Size(ComponentSize.Large)
							.Rounded(BasicRounded.Medium)
							.HtmlAttributes(new { @class = "certificates", @data_certname = "isolation|E|ISOLATION" })
							.Events(events => events.Change("onChangeCertificate"))
							.Label("  Isolation"))
					</div>
					<div>
						@(Html.Kendo().CheckBox()
							.Name("chkCertF")
							.Size(ComponentSize.Large)
							.Rounded(BasicRounded.Medium)
							.HtmlAttributes(new { @class = "certificates", @data_certname = "methodStatement|F|METHOD STATEMENT" })
							.Events(events => events.Change("onChangeCertificate"))
							.Label("  Method Statement"))
					</div>
				</div>
				<div class="w-33">
					<div>
						@(Html.Kendo().CheckBox()
							.Name("chkCertG")
							.Size(ComponentSize.Large)
							.Rounded(BasicRounded.Medium)
							.HtmlAttributes(new { @class = "certificates", @data_certname = "liftingHoisting|G|LIFTING & HOISTING" })
							.Events(events => events.Change("onChangeCertificate"))
							.Label("  Lifting & Hoisting"))
					</div>
					<div>
						@(Html.Kendo().CheckBox()
							.Name("chkCertH")
							.Size(ComponentSize.Large)
							.Rounded(BasicRounded.Medium)
							.HtmlAttributes(new { @class = "certificates", @data_certname = "override|H|OVERRIDE" })
							.Events(events => events.Change("onChangeCertificate"))
							.Label("  Override"))
					</div>
				</div>
			</div>
		</div>
	</div>
</div>