@using Kendo.Mvc.UI

@model EditPermitViewModel

<h2 class="accordion-header">
	<button class="accordion-button fw-semibold text-uppercase collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
		Precautions
	</button>
</h2>
<div id="collapse6" class="accordion-collapse collapse" data-bs-parent="#accordionPermit">
	<div class="accordion-body" style="position: relative;">
		@if (Model.PermitStatus != PermitPro.Core.Enums.PermitStatusEnum.Draft)
		{
			<div class="edit-disable"></div>
		}
		<div>
			<div class="form-group">
				<label class="form-label" for="precautionsForWork">Precautions for the work (in addition to those overleaf, and stated in associated certificates)</label>
				@(Html.Kendo().TextArea()
						.Name("precautionsForWork")
						.Rounded(Rounded.Large)
						.FillMode(FillMode.Outline)
						.Rows(2))
			</div>
			<div class="form-group">
				<label class="form-label" for="tbPrecautions2">Additional Precautions for Lead Permit Issuer (LPI) and Engineer</label>
				@(Html.Kendo().TextArea()
						.Name("additionalPrecautions")
						.Rounded(Rounded.Large)
						.FillMode(FillMode.Outline)
						.Rows(2))
			</div>
		</div>
		<hr />
		<div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item d-flex justify-content-between align-items-center">
					<div class="me-auto">
						<div><label for="swPrecautions3">Reference made to attached Method of Statement?</label></div>
					</div>
					<div class="">
						@(Html.Kendo().Switch()
								.Name("methodOfStatementAttached")
								.Size(ComponentSize.Small)
								.Messages(x => x.Checked("YES").Unchecked("NO")))
					</div>
				</li>
			</ul>
		</div>
		<hr />
		<div>
			<div class="mb-3">Declaration</div>
			<div class="d-flex flex-row">
				<div>
					@(Html.Kendo().CheckBox()
							.Name("declaration")
							.Size(ComponentSize.Large)
							.Rounded(BasicRounded.Medium))
				</div>
				<label class="form-label ms-3" for="chkPrecautions4">
					I certified that I have fully considered the implications of the work in line with the responsibilities details
					in the permit to work procedure and that the above precautions are adequate for the work to be carried out provided
					that the precautions are established and maintained.
				</label>
			</div>
		</div>
		<hr />
		<div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item d-flex justify-content-between align-items-center">
					<div class="me-auto">
						<div><label for="swPrecautions5">Engineering Advice Required?</label></div>
					</div>
					<div class="">
						@(Html.Kendo().Switch()
								.Name("engineeringAdviceRequired")
								.Size(ComponentSize.Small)
								.Messages(x => x.Checked("YES").Unchecked("NO")))
					</div>
				</li>
			</ul>
		</div>
		<hr />
		<div>
			<div class="mb-3">Declaration by Permit Issuer (PI)</div>
			<div class="d-flex flex-row">
				<div>
					@(Html.Kendo().CheckBox()
							.Name("authorizedForExecution1")
							.Size(ComponentSize.Large)
							.Rounded(BasicRounded.Medium))
				</div>
				<label class="form-label ms-3" for="chkPrecautions6">
					Authorised for execution without additional certificates
				</label>
			</div>
		</div>
		<hr />
		<div>
			<div class="mb-3">Declaration by Lead Permit Issuer (LPI)</div>
			<div class="d-flex flex-row">
				<div>
					@(Html.Kendo().CheckBox()
							.Name("authorizedForExecution2")
							.Size(ComponentSize.Large)
							.Rounded(BasicRounded.Medium))
				</div>
				<label class="form-label ms-3" for="chkPrecautions7">
					Authorised for execution only in accordance with attached certificates
				</label>
			</div>
		</div>
		<hr />
		<div>
			<div class="mb-3">Permit validity (where work is going to last more than the duration of a day)</div>
			<div class="d-flex flex-row">
				<div>
					@(Html.Kendo().CheckBox()
							.Name("permitValidity")
							.Size(ComponentSize.Large)
							.Rounded(BasicRounded.Medium))
				</div>
				<label class="form-label ms-3" for="chkPrecautions8">
					Permit Issuer & Permit Holder confirm by signing that the precautions required to work safely have been
					complied with prior to starting work each day or work period. At the close of each day the Permit Issuer
					&amp; Permit Holder sign to confirm that the area has been left in a safe condition (although it is still
					not an operational area, i.e. it has not been handed back) and that all staff have left the site.
				</label>
			</div>
		</div>
	</div>
</div>
